<section>
    <h2>Productos</h2>
    <form action="/productos" method="post" >
        <input type="text" name="nombre" placeholder="Nombre">
        <br>
        <input type="number" name="precio" placeholder="precio">
        <br>
        <input type="file" name="imagen1" />
        <br>
        <input type="submit" value="Enviar">
    </form>
    <!-- lista  de productos -->
    
</section>